# Time to do some importing

In [8]:
import numpy as np
import pandas as pd
import datetime as dt

In [9]:
np.random.seed(0) # set a seed for reproducibility
pd.Series(np.random.rand(5), name='random_numbers')

0    0.548814
1    0.715189
2    0.602763
3    0.544883
4    0.423655
Name: random_numbers, dtype: float64

A Series object in pandas has one column, that column usually contains the indices. <br>
A DataFrame in pandas has multiple columns, which basically represents a spreadsheet of data.

In [10]:
np.random.seed(0) # set seed so result is reproducible
pd.DataFrame(
 {
    'random': np.random.rand(5),
    'text': ['hot', 'warm', 'cool', 'cold', None],
    'truth': [np.random.choice([True, False])
        for _ in range(5)]
},
    index=pd.date_range(
        end=dt.date(2019, 4, 21),
        freq='1D', periods=5, name='date'
    )
 )

              random  text  truth
date
2019-04-17  0.548814   hot  False
2019-04-18  0.715189  warm   True
2019-04-19  0.602763  cool   True
2019-04-20  0.544883  cold  False
2019-04-21  0.423655  None   True

In [11]:
list_of_tuples = [(n, n**2, n**3) for n in range(5)]
pd.DataFrame(
    list_of_tuples,
    columns=['n', 'n_squared', 'n_cubed']
) # making a Dataframe out of a lits of tuples, not sure how this is useful but it's cool

   n  n_squared  n_cubed
0  0          0        0
1  1          1        1
2  2          4        8
3  3          9       27
4  4         16       64

In [15]:
pd.DataFrame(
    np.array([
        [0, 0, 0],
        [1, 1, 1],
        [2, 4, 8],
        [3, 9, 27],
        [4, 16, 64]
        ]), columns=['n', 'n_squared', 'n_cubed']
) # creating a DataFrame out of a numpy array

   n  n_squared  n_cubed
0  0          0        0
1  1          1        1
2  2          4        8
3  3          9       27
4  4         16       64

In [16]:
with open(r'C:\Users\ukpsa\Downloads\Hands-On-Data-Analysis-with-Pandas-2nd-edition-master\ch_02\data\earthquakes.csv', 'r') as f:
    first_line = f.readline().strip()
    if first_line.startswith('header1,header2,header3'):
        headers = first_line.split(',')
        print(headers)
    else:
        print('File does not have headers.')

File does not have headers.

In [20]:
n = 2
with open('data/earthquakes.csv', 'r') as file:
    for _ in range(n):
        print(file.readline(), end='\r')

alert,cdi,code,detail,dmin,felt,gap,ids,mag,magType,mmi,net,nst,place,rms,sig,sources,status,time,title,tsunami,type,types,tz,updated,url
,,37389218,https://earthquake.usgs.gov/fdsnws/event/1/query?eventid=ci37389218&format=geojson,0.008693,,85.0,",ci37389218,",1.35,ml,,ci,26.0,"9km NE of Aguanga, CA",0.19,28,",ci,",automatic,1539475168010,"M 1.4 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475395144,https://earthquake.usgs.gov/earthquakes/eventpage/ci37389218

In [23]:
!find /c /v "" data\earthquakes.csv

---------- DATA\EARTHQUAKES.CSV: 9333

In [25]:
with open('data/earthquakes.csv', 'r') as f:
    first_line = f.readline().strip()
    column_count = first_line.count(',') + 1
print(column_count)

26

In [30]:
df = pd.read_csv('data/earthquakes.csv')

In [32]:
import sqlite3
with sqlite3.connect('data/quakes.db') as connection:
    pd.read_csv('data/tsunamis.csv').to_sql(
    'tsunamis', connection, index=False,
    if_exists='replace'
)

In [35]:
with sqlite3.connect('data/quakes.db') as connection:
    tsunamis = \
    pd.read_sql('SELECT * FROM tsunamis', connection)
tsunamis.head()

,alert,type,title,place,magType,mag,time
0,None,earthquake,"M 5.0 - 165km NNW of Flying Fish Cove, Christm...","165km NNW of Flying Fish Cove, Christmas Island",mww,5.0,1539459504090
1,green,earthquake,"M 6.7 - 262km NW of Ozernovskiy, Russia","262km NW of Ozernovskiy, Russia",mww,6.7,1539429023560
2,green,earthquake,"M 5.6 - 128km SE of Kimbe, Papua New Guinea","128km SE of Kimbe, Papua New Guinea",mww,5.6,1539312723620
3,green,earthquake,"M 6.5 - 148km S of Severo-Kuril'sk, Russia","148km S of Severo-Kuril'sk, Russia",mww,6.5,1539213362130
4,green,earthquake,"M 6.2 - 94km SW of Kokopo, Papua New Guinea","94km SW of Kokopo, Papua New Guinea",mww,6.2,1539208835130

In [39]:
import requests

In [41]:
yesterday = dt.date.today() - dt.timedelta(days=1)
api = 'https://earthquake.usgs.gov/fdsnws/event/1/query'
payload = {
    'format': 'geojson',
    'starttime': yesterday - dt.timedelta(days=30),
    'endtime': yesterday
}
response = requests.get(api, params=payload)

In [42]:
response.status_code

200

I asked ChatGPT for what 200 means and it gave me the whole list of status codes<br>
200: OK - The request was successful<br>
400: Bad Request - The request was malformed or invalid<br>
401: Unauthorized - The request requires authentication or authorization<br>
403: Forbidden - The request is not allowed<br>
404: Not Found - The requested resource was not found<br>
500: Internal Server Error - The server encountered an error while processing the request<br>